.nv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #93a1ad;
    padding: 2rem;
    font-weight: bolder;
}
.nv>*{
    font-family:cursive;
    font-size: 2rem;
}
.crd{
    padding: 2rem 1rem;
}
#comp{
    text-decoration: none;
    color:  black;
    
}