*{
    margin: 0;
    padding: 0;
    color: #fff;
}
.img
{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    padding: 1rem 2rem;
    align-items: center;
}
.icon-image
{
  width: 25px;
}
.header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
}
.text
{
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;                                                                                                                                          
    font-size: 25px;
}
.Navigation 
{
top: 2;
right: 0;
text-align: right;
padding: 2px;
}

.Navigation a{
    padding: 15px;
    color: white;
}
.img img{
    margin:.3rem;
}
.mini
{
    background-image: url("image.png");
    height: 20rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -290px;

}
.one1{
    background-color:#2dcc70;
    height: 15rem;

}
.title  
{
    padding: 2% 3%;
   color: #fff;
}
a:hover
{
    background-color: #16223c;
    border-radius: 10px;
}
.img1
{
    width:30px;
}

.img1 img{
    width: 30px;
}
.one1{
    display: flex;
}
.box img{
    width: 30px;
    height: 30px;
    top
}
.box{
    display: flex;
}
.txt p{
    font-size: 1.2rem;
    margin-top: 20px;
    font-style: bold;
    color: #fff;
}
.icon-image{
    margin-top: 20px;
}
.next{
    float:right;
    margin-top: 45px;
    size: 30px;
    font-size: 35px;
}
.prev
{
    float:left;
    margin-top: 45px;
    size: 30px;
    font-size: 35px;
}