.form{
    padding-top: 40px;
    padding-left: 25px;
    font-size:  90px;
}
.page{
    background-color: #769d75;
    width: 350px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0px;
    margin-top: 20px;
}
li{
    list-style-type: none;
}
mat-form-field{
    width: 90%;
}
