<html lang="en">
<head>

</head>
<body>
    <div class="page">
        <div class="form">
            <li>
                <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Last name</mat-label>
                    <input matInput>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Education</mat-label>
                    <mat-select>
                      <mat-option value="one">B.E</mat-option>
                      <mat-option value="two">B.Tech</mat-option>
                    </mat-select>
                  </mat-form-field>
                   

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </li>
       </div> 
    </div>
</body>
</html>
