<div class="one1">
    <div class="box">
        <img src="http://localhost/twitter.png" alt="icn">
        <div class="txt">
        <h2>twitter</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fuga omnis asperiores cumque facere eveniet numquam quis excepturi eaque magnam!</p>
        </div>
    </div>
    <div class="box">
        <img src="http://localhost/facebook.png" alt="icn">
        <div class="txt">
            <h2>facebook</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fuga omnis asperiores cumque facere eveniet numquam quis excepturi eaque magnam!</p>
    </div>
</div>

    <div class="box">
        <img src="http://localhost/google.png" alt="icn">
        <div class="txt"><h2>google Plus</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fuga omnis asperiores cumque facere eveniet numquam quis excepturi eaque magnam!</p>
    </div>
</div>
